@model ToyStoreClient.Models.ResetPasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                     alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" action="/Authenticate/ResetPassword">
                    <input type="hidden" name="Email" value="@Context.Request.Query["Email"]" />
                    <input type="hidden" name="Token" value="@Context.Request.Query["Token"]" />
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Reset your password</p>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">---</p>
                    </div>

                    <div class="form-outline mb-4">
                        <label asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" type="password" name="NewPassword" placeholder="Enter new password" class="form-control form-control-lg" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                        <label asp-for="ConfirmNewPassword">Confirm Password</label>
                        <input asp-for="ConfirmNewPassword" type="password" name="ConfirmNewPassword" placeholder="Enter confirm password" class="form-control form-control-lg" autocomplete="off" />
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
