@using ToyStoreClient.Services.Interfaces
@inject ICart _iCart

@{
    double total = 0;
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    h2 {
        font-size: 40px;
        background: linear-gradient(to left, #660066 0%, #ff3300 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<div class="container mb-3">
    <div class="py-5 text-center">
        <h2>Checkout</h2>
    </div>
    <div class="row g-5">
        <div class="col-md-6 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text">Your Order</span>
                <span class="badge bg-black rounded-pill">@_iCart.CountCart()</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h4 class="my-0">Product</h4>
                    </div>
                    <div>
                        <h4 class="my-0">Total</h4>
                    </div>
                </li>
                @foreach (var item in @_iCart.GetAllCarts())
                {
                    total += (((double)item.Price) * item.Quantity);
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <span class="text-muted my-0">@item.Quantity X @item.ProductName</span>
                        </div>
                        <span class="text-muted">$@item.Price</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h4 class="my-0">Total</h4>
                    </div>
                    <div>
                        <h4 class="my-0">$@total.ToString("#,##0.00")</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-8">
            <h4 class="mb-3">Billing address</h4>
            <form method="post" asp-action="SaveOrder" asp-controller="Cart" class="checkout-form">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="first" class="form-label">First Name</label>
                        <input name="first" type="text" class="form-control">
                    </div>

                    <div class="col-sm-6">
                        <label for="last" class="form-label">Last Name</label>
                        <input name="last" type="text" class="form-control">
                    </div>

                    <div class="col-12">
                        <label for="street" class="form-label">Street Address</label>
                        <input name="street" type="text" class="form-control">
                    </div>

                    <div class="col-12">
                        <label for="town" class="form-label">Town / City</label>
                        <input name="town" type="text" class="form-control">
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email Address</label>
                        <input name="email" type="email" class="form-control" >
                    </div>

                    <div class="col-sm-6">
                        <label for="phone" class="form-label">Phone</label>
                        <input name="phone" type="text" class="form-control" >
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-danger btn-lg" type="submit">Checkout</button>
            </form>
        </div>
    </div>
</div>

